.inactive {
    background-color: transparent;
}

.inactive-thumbs-down {
    transform: scaleY(-1);
}

.active-thumbs-up {
    background-color: green;
}

.active-thumbs-down {
    background-color: red;
    transform: scaleY(-1);
}

.row {
    display: table;
    float: right;
}

.column {
    float: left;
    padding: 5px;
}